<form id='user-form'>
  <div>
    <label>First name:</label>
    <input id='first_name' type='text' name='user[first_name]'><br>
  </div>
  <div>
    <label>Last name:</label>
    <input id='last_name' type='text' name='user[last_name]'>
  </div>
  <div>
    <input id='user-submit' class='waves-effect waves-light btn' type='submit' value='Submit'>
  </div>
</form>
